@import 
url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;700;800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: "Poppins","sans-serif";
}
:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --main-color:#00a7a4;
    --white-color:#fff;
    --disabled-color:#fff3;
}
html{
    font-size: 62.5%;
}
body{
    color: var(--white-color);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: var(--white-color);
    font-weight: 700;
}
nav a{
    font-size: 2rem;
    color: var(--white-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .5s;
    text-transform: capitalize;
}
nav a:hover,nav a.active{
    color: var(--main-color);
}
#menu-icon{
    font-size: 4rem;
   display: none;
}
section{
    
    width: 100%;
    height: 100%;
    padding: 10rem 9% 2rem;
    background-color: var(--bg-color);
    
}


.home{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.home-content h1{
    font-size: clamp(3.5rem,10vw,5.5rem);
}
.home-content h2{
    display: inline-block;
    font-size: 3.2rem;
    margin-top: -1rem;
    
}
.home-content h2 span{
 position: relative;
 text-transform: capitalize;
 display: inline-block;
 color: transparent;
 -webkit-text-stroke: .07rem var(--main-color);
 animation: displaytext 16s linear infinite;
 animation-delay: calc(-4s  * var(--i));
}
@keyframes displaytext {
    25%,100%{
        display: none;
    }
}
.home-content span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: .2rem solid var(--main-color);
    color: var(--main-color);
    white-space: nowrap;
    overflow: hidden;
    animation: textani 4s  linear infinite;
}
@keyframes textani {
    10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
.home-content p{
    font-size: 1.6rem;
    margin: 1rem 0 2.5rem;
}
.home-content .btn-hero{
    display: flex;
    align-items: center;
}
.hero-btn{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    font-weight: 500;
    transition: .5s;
}
.hero-btn:hover{
    background-color: transparent;
    color: var(--main-color);
    box-shadow: none;
}
.home-content .btn-hero .sci{
 margin-left: 2rem;
}
.home-content .btn-hero .sci a{
    display: inline-flex;
    padding: .8rem;
    border:.2rem solid var(--main-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 0 .8rem;
    border-radius: 50%;
    transition: .5s;
}
.home-content .btn-hero .sci a:hover{
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.home-image .image-box{
   position: relative;
   width: 32vw;
   height: 32vw;
   border-radius: 50%;
   padding: .5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}
.home-image .image-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    border-radius: 50%;
    border: .01rem solid var(--bg-color);
    display: flex;
   justify-content: center;
   z-index: 1;
   overflow: hidden;
}
.home-image .image-box .img-item img{
    position: absolute;
    top: 3rem;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}
.home-image .image-box::after,
.home-image .image-box::before{
    content: '';
    position: absolute;
    width: 50rem;
    height: 50rem;
    background: conic-gradient(transparent,transparent,transparent, var(--main-color));
    transform: rotate(0deg);
    animation: rotateborder 10s linear infinite;
}
.home-image .image-box::before{
    animation-delay: -5s;
}
@keyframes rotateborder {
    100%{
        transform: rotate(360deg);
    }
}
.title{
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.title span{
    color: var(--main-color);
}
.services-cont{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:5rem;
}
.services-cont .services-box{
    background-color: var(--second-bg-color);
    padding: 3rem 2.5rem;
    border: .2rem solid var(--second-bg-color);
    border-radius: 1rem;

}
.services-box .icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}
.services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}
.services-box .icon i{
    font-size: 4.5rem;
    transition: .5s;
}
.services-box:hover .icon :not(a i){
    color: var(--main-color);
}
.services-box  .icon a{
    background: var(--white-color);
    display: inline-flex;
    border-radius: 50%;
    padding: 1rem;
    transition: .5s;
}
.services-box:hover .icon a{
    background-color: var(--main-color);
}
.services-box  .icon a i{
    font-size: 3rem;
    color: var(--bg-color);
    transform: rotate(225deg);
    transition: .5s;
}
.services-box:hover  .icon a i{
    transform: rotate(180deg);
}
.services-box h3{
    font-size: 3rem;
    margin: .2rem 0 2rem;
    transition: .5s;
}
.services-box:hover h3{
    color: var(--main-color);
}
.services-box p{
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: capitalize;
}
.resume-cont{
    display: grid;
    grid-template-columns: 1fr  2fr;
    gap :5rem;
}
.resume-box h2{
   font-size: 4.5rem;
   text-align: center;
}
.resume-cont span{
    color: var(--main-color);
}
.resume-box .des{
    margin: 2rem 0 2.5rem;
    margin-bottom: 4rem; 
    font-size: 1.2rem;
    font-weight: 200;
    text-transform: capitalize;
}
.resume-box .resume-btn{
    width: 100%;
    height: 5.3rem;
    background-color: var(--second-bg-color);
    border: .2rem solid var(--second-bg-color);
    color: var(--white-color);
    font-size: 1.6rem;
    margin-bottom:2rem ;
    cursor: pointer;
    font-weight: 500;
    border-radius: .8rem;
    
}
.resume-box .resume-btn.active{
    border-color: var(--main-color);
    color: var(--main-color);
}
.resume-box .title{
 font-size: 3.5rem;
 text-align: left;
}
.resume-details{
    display: none;
}
.resume-details.active{
    display: block;
}
.resume-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem;
    height: 45rem;
    overflow: auto;
}
.resume-list::-webkit-scrollbar{
    width: .7rem;
}
.resume-list::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 1rem;
}
.resume-list:hover::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
 .resume-list .resume-items{
     background-color: var(--second-bg-color);
    padding: 3rem 2.5rem;
    height: calc((45rem - 2rem)/2);
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.resume-items .year{
    color: var(--main-color);
}
.resume-items h3 {
    font-size: 2.2rem;

}
.resume-items .company{
    position: relative;
    margin-left: 2rem;
    margin-bottom: 2rem;

}
.resume-items .company::before{
   position: absolute;
   content: '';
   top: 50%;
   transform: translateY(-50%);
   background-color: var(--main-color);
   padding: .5rem;
   border-radius: 50%;
   margin-left: -2rem;
}

.resume-details.skills .resume-list{
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    height: auto;
    overflow: visible;
    
}
.resume-details.skills .resume-items{
    position: relative;
    align-items: center;
    height: auto;
}
.resume-details.skills .resume-items i{
    font-size: 8.5rem;
    transition: .5s;
}
.resume-details.skills .resume-items i:hover{
    color: var(--main-color);
}
.resume-details.skills .resume-items span{
    color: var(--bg-color);
    position: absolute;
    top: -20%;
    background-color: var(--white-color);
    font-size: 1.6rem;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    opacity: 0;
    transform: scale(.9);
    transition: .2s;
}
.resume-details.skills .resume-items:hover span{
    transform: scale(1);
    top: -25%;
    opacity: 1;
}
.resume-details.about .resume-list{
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    height: auto;
    gap: 3rem;
}
.resume-details.about .resume-items{
    height: auto;
    padding: 0 0 .2rem;
    background: transparent;
}
.resume-details.about .resume-items p{
    font-size: 1.8rem;
    color: var(--main-color);
}
.resume-details.about .resume-items span{
    color: var(--white-color);
    margin-left: 1rem;
    font-size: 1.8rem;
}